DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/resource_hub
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_NAME=Resoruse Hub
APP_ENV=development
CORS_ORIGINS=http://localhost:4200
